<div class="container mx-auto flex justify-center items-center py-12 px-4">
  <div class="login-section w-full max-w-4xl"> <!-- max-w-lg → max-w-4xl に変更して横幅を広げる -->
    <div class="card text-center pt-8 mx-auto bg-white shadow-xl rounded-lg">
      <h1 class="text-3xl font-bold mb-8">ログイン</h1>

      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: new_user_session_path) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="mb-6">
            <%= f.email_field :email, class: "form-input w-full px-6 py-3 border rounded-lg focus:ring-2 focus:ring-blue-500", placeholder: "メールアドレス", autofocus: true, autocomplete: "email" %>
          </div>

          <div class="mb-6">
            <%= f.password_field :password, class: "form-input w-full px-6 py-3 border rounded-lg focus:ring-2 focus:ring-blue-500", placeholder: "パスワード" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="mb-6 flex items-center">
              <%= f.check_box :remember_me, class: "mr-2" %>
              <%= f.label :記憶する, class: "text-gray-700" %>
            </div>
          <% end %>

          <%= f.submit "ログイン", class: "btn w-full py-3 bg-blue-500 text-white rounded-lg hover:bg-blue-600" %>
        <% end %>

        <% if notice %>
          <p class="text-green-500 mt-6"><%= notice %></p>
        <% elsif alert %>
          <p class="text-red-500 mt-6"><%= alert %></p>
        <% end %>
      </div>
    </div>

    <div class="text-center py-6 mt-8 mx-auto">
      <div class="card-text">
        <%= link_to "アカウント作成", new_user_registration_path, class: "text-blue-500 hover:text-blue-700 text-lg" %>
      </div>
    </div>
  </div>
</div>
